<!DOCTYPE html>
<html>
<head><title>Quiz</title></head>
<body>
  <h2>What do you prefer?</h2>
  <form method="POST">
    <label>Beach or not?</label><br>
    <input type="radio" name="beach" value="1"> Yes
    <input type="radio" name="beach" value="0"> No<br><br>

    <label>Mountains or not?</label><br>
    <input type="radio" name="mountain" value="1"> Yes
    <input type="radio" name="mountain" value="0"> No<br><br>

    <label>City life or nature?</label><br>
    <input type="radio" name="city" value="1"> City
    <input type="radio" name="city" value="0"> Nature<br><br>

    <label>Is food a top priority?</label><br>
    <input type="radio" name="food" value="1"> Yes
    <input type="radio" name="food" value="0"> No<br><br>

    <label>Interested in culture/history?</label><br>
    <input type="radio" name="culture" value="1"> Yes
    <input type="radio" name="culture" value="0"> No<br><br>

    <input type="submit" value="See Your Destination">
  </form>
</body>
</html>
